/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #{$orange-color};
  --global-hover-color: #{$light-orange-color};
 // --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-bg-color: #{$orange-color};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  //--global-icon-color: #{$grey-color-dark};
  --global-icon-color: #{$orange-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-theme-color: #{$igl-color};
  --global-hover-color: #{$light-igl-color};
//  --global-footer-bg-color: #{$grey-color-light};
--global-footer-bg-color: #{$igl-color};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  //--global-icon-color: navajowhite;
  --global-icon-color: #{$igl-color};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
